# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
1.jpg
2.jpg
3.jpg
concurrentDemo1.iml
out/
